<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles/login.css">
    <title>Login</title>
</head>
<body>
    <nav>
            
            <div>
                <h3>EBOOK CLUB</h3>
            </div>

            <div>
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="categories.html">Categories</a>
                <a href="#">Blog</a>
              </div>
            
        </nav>
    <div class="login-container">
        <h2>Login</h2>
        <form method="POST" action="/login">
            <input type="text" name="username" placeholder="Username" required >
            <input type="password" name="password" placeholder="password" required>
            <button type="submit">Login</button>
            <h5><a href="#">Forgot password?</a></h5>
            <h6>Dont have a account? <a href="Register.html">Register</a></h6>
        </form>
    </div>
</body>
</html>
