body {
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
    margin: 0;
    padding-top: 40px;
    font-family: Arial, sans-serif;
}

.login-container {
	width: 300px;
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
	background: #fff;
	padding: 20px;
	margin: 8% auto 0;
	text-align: center;
}

h2 {
    color: #333333;
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    color: #333333;
}

input[type="text"],
input[type="password"] {
    width: 80%;
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid #dddddd;
    border-radius: 4px;
}

nav {
    background-image: url('img1.jpg');
    background-size: cover;
    background-color: rgba(236, 236, 236, 0.6);
    color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    text-align: center;
}
nav a {
    color: #000000;
    text-decoration: none;
    padding: 0 15px;
    transition: color 0.3s;
    text-align: center;
  }

  nav a:hover {
    color: #e95444;
  }


  nav a:visited{
    color: yellow;
  }

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #3e8e41;
}